    ion-content{
        width:100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.savebutton {
	position: fixed;
	left: 0;
	bottom: 25px;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
}

.text08 {
	font-size: 8px;
}