<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registerForm" (ngSubmit)="subForm()">
    {{ registerForm.value | json }}
    <hr>
    <div class="form-group">
      <label>userName</label>
      <input class="form-control" [class.is-invalid]="registerForm.get('userName').invalid && registerForm.get('userName').touched" formControlName="userName" type="text">
      <div *ngIf="registerForm.get('userName').invalid && registerForm.get('userName').touched">
        <p class="text-danger" *ngIf="registerForm.get('userName').errors?.required">Ce champs est requis!</p>
        <p class="text-danger" *ngIf="registerForm.get('userName').errors?.minlength">Ce champs doit contenir au moins 5 charactères!</p>
        <p class="text-danger" *ngIf="registerForm.get('userName').errors?.forbiddenName">
          {{ registerForm.get('userName').errors?.forbiddenName.value }} n'est pas autorisé!</p>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input [class.is-invalid]="email.invalid && email.untouched" class="form-control" formControlName="email" type="email">
      <span class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</span>
      <div formArrayName="altAddr" *ngFor="let email of altAddr.controls; index as i">
        <input class="form-control my-1" type="email" [formControlName]="i">
      </div>
      <a class="btn btn-outline-success" (click)="addAddr()">Add addr</a>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="check" type="checkbox">
      <label class="form-check-label">Send me feedback</label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" formControlName="pass" type="password">
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input [class.is-invalid]="registerForm.errors?.misMatch" class="form-control" formControlName="confirmPass" type="password">
      <span class="text-danger" *ngIf="registerForm.errors?.misMatch">Password does'nt match</span>
    </div>

    <div formGroupName="adress">
      <div class="form-group">
        <label>City</label>
        <input class="form-control" formControlName="city" type="text">
      </div>
      <div class="form-group">
        <label>state</label>
        <input class="form-control" formControlName="state" type="text">
      </div>
      <div class="form-group">
        <label>postCode</label>
        <input class="form-control" formControlName="postCode" type="text">
      </div>
    </div>


    <div class="form-group">
      <button class="btn btn-primary" type="submit">Register</button>
      <button class="btn btn-outline-success" (click)="load()">Load Data</button>
    </div>
  </form>

</div>
