.amount-st{
    font-size: 12px !important;
    color: #9E9E9E !important;
}
.name-st{
    font-weight: 900 !important;
}

.ionicon {
    position: absolute;
    right: 0px;
    margin-right: 14px;}

ion-avatar{
    width: 50px;
    height: 50px;
}

.first-letter{
    text-align: center;
    display: block;
    /* margin-bottom: auto; */
    font-weight: bold;
    color: #fff;
    padding-top: 16px;

}

.itemcol {
    margin-left: 15px;
}

.s-ion-icon {
    margin-top: 1px;
}