.amount-st{
    font-size: 12px !important;
    color: #9E9E9E !important;
}
.name-st{
    font-weight: 900 !important;
}

.first-letter{
    text-align: center;
    display: block;
    margin-top: 25%;
    /* margin-bottom: auto; */
    font-weight: bold;
    color: #fff;
}