<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" (click)="home()">
			<ion-icon name="arrow-round-back" class="icon-lg"></ion-icon>
		</ion-buttons>
		<ion-title>Liste des membres</ion-title>
		<ion-buttons class="ionicon" slot="end" (click)="addMember()">
			<ion-icon name="add"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-searchbar name="term" [(ngModel)]="term"></ion-searchbar>

	<ion-item>
		<ion-label>Selectionner un statut</ion-label>
		<ion-select [(ngModel)]="status" name="status">
			<ion-select-option value="">Tous</ion-select-option>
			<ion-select-option value="ENABLE">Actif</ion-select-option>
			<ion-select-option value="DISABLE">Désactivé</ion-select-option>
			<ion-select-option value="PENDING">En attente</ion-select-option>
			<ion-select-option value="DEAD">Mort</ion-select-option>
			<ion-select-option value="NOTIFIED">A notifier</ion-select-option>
			<ion-select-option value="UNSUBSCRIBE">Désabonné</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item *ngIf="listdataLength === 0 ">
		<h4 style="color: gray; font-size: 15px; font-weight: 900;">{{info}}</h4>
	</ion-item>

	<ion-list *ngIf="listdataLength >0">
		<ion-item
			button
			*ngFor="let member of listdata | filter:term | orderBy: 'name': 'asc'| filterbystatus:status;"
			[routerLink]="['/', 'details-membre', member.memberId]"
		>
			<ion-avatar slot="start" style="background: #2f32a0;">
				<span class="first-letter">
					{{member.memberDTO.lastName |firstLetter | uppercase }}
				</span>
			</ion-avatar>

			<ion-label text-wrap>
				<h3 class="name-st">
					{{member.memberDTO.lastName}} {{member.memberDTO.firstName}}
				</h3>
				<span class="amount-st">
					{{member.accountDTO.amount}}
				</span>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
